*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;



}
body{
  background-image: url("https://img.freepik.com/free-photo/sports-car-driving-asphalt-road-night-generative-ai_188544-8052.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  background-size: cover;


}
header{
  
  width: 100%; 
  position: fixed; 
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; 
  margin-right: 20px;
  box-shadow: 0 0 10px #000;
  background: rgba(0,0,0,0.5);

  



}
.button{
  color: white;
  background: orange;
  border-radius: 10px;
  width: 70px;
  font-size: larger;
  border: orange;
}
 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 500%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}
.imgcontainer{
  color: white;
}
.container{
  color: orange;
  background: rgba(0,0,0,0.5);
}
.psw{
  color: black;
  border: none;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0,0,0,0.5);
  margin: 5px auto; /* 15% from the top and centered */
  border: none;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 200px;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 70px;
  font-size: larger;

}
.username{
  font-size: larger;
  margin-left: 20px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: orange;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 
.logo{
  
  color: white;
  font-weight: 500;
  font-size: 1.6em;
  background-color: none;
  padding-left: 30px;
}
.icons a{
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  direction: ltr;
  background-color: none;
  padding-left: 30px;
  align-items: center;
  padding-right: 30px;
  
}
.icons a:hover{
  color: orange;
  
}
.action_btn {
  background-color: orange;
  color:white;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease ;
  list-style: none;
  text-decoration: none;

  }
  
  .action_btn:hover {
      scale: 1.05;
      color:white;
  
  }    
  .action_btn:active {
          scale: 0.95;
  }
header.xz-logo {
  padding: 20px 20px;
  flex: 1;
  margin-left: 50px;
  
}


.searchbar{
  padding: 60px 800px;
  text-decoration: none;
  flex: 1;
  margin: auto;

  
}
.searchbar input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
  padding-right: 40px;
  background-color:rgba(0,0,0,0.5) ;
  


}
.searchbar button{
  cursor: pointer;
  width: 70px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  transform: scale(0.9);
  color: orange;
  background-color:rgba(0,0,0,0.5) ;

}
.text{
  color: white;
  margin-left: 30px;
  text-indent: 50px;

}
.text2{
  margin-left: 30px;
  text-indent: 50px;
  color: orange;

}
.text3{
  color: white;
  margin-left: 30px;
  text-indent: 50px;

}
.gallery{
  margin-left: 30px;
  background: orange;
  

}
div.gallery {
  margin: 40px;
  
  float: left;
  width: 180px;
  
  
  outline: none;
  border-radius: 10px;

  
  

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 250px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: black;
  border: black;
  
  
}
.Registeration{
text-decoration: none;
color: white;
margin-left:200px ;




}
.Registeration:hover{
color: orange;
}
