* {
    background-color: black;
    color: white;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'open Sans', sans-serif;
    scroll-behavior: smooth;

}

.bmw_cars {
    display: inline-block;
    margin-left: 45%;
}

.video2 {
    display: inline-block;
    margin-left: 15%;
}

header {
    width: 100%;
    position: fixed;
    display: flex;

}

.menu a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
    direction: ltr;
    padding-left: 30px;
    padding-right: 30px;

}

.menu a:hover {
    color: orange;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}

img {
    max-height: 250px;
    max-width: 320px;

}

.bmw_cars {
    font-size: large;

}

.x1 {

    display: inline-block;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 15%;

}

.x2 {
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 20px;
}

.x3 {

    display: inline-block;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 15%;
}

.x4 {

    display: inline-block;
    margin-right: 5%;
    margin-bottom: 20px;
}

.x5 {

    display: inline-block;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 15%;
}

.x6 {

    display: inline-block;
    margin-right: 5%;
    margin-bottom: 20px;
}

.x7 {

    display: inline-block;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-left: 15%;

}


.x1_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x2_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x3_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x4_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x5_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x6_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

.x7_notes {
    font-size: large;
    color: rgb(rgb(23, 16, 16), green, blue);
    font-family: Sans-serif;
}

table,
th,
td {
    table-layout: fixed;
    width: 75%;
    border-collapse: collapse;
    border: 4px solid rgb(148, 99, 9);
}

#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
}


#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


#myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
}

#myMenu li a:hover {
    background-color: #eee;
}